

@model PRN_ProjectBlogs.Models.Role

@{
    ViewData["Title"] = "CHỈNH SỬA TRUY CẬP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>


<hr />
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index">QUẢN LÝ TRUY CẬP</a></li>
        <li class="breadcrumb-item active" aria-current="page">CHỈNH SỬA TRUY CẬP</li>
    </ol>
    <h6 class="slim-pagetitle">CHỈNH SỬA TRUY CẬP</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-id="@Model.RoleId" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoleId" />
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Role Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleName">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Role Description: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleDescription">
                    </div>
                </div><!-- col-4 -->
            </div>

            <div class="form-layout-footer">
                <button class="btn btn-primary bd-0">Save</button>
                <button class="btn btn-secondary bd-0">Back to List</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->




