@model PRN_ProjectBlogs.Models.Post

@{
    ViewData["Title"] = "CHỈNH SỬA BÀI VIẾT";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link href="~/AdminAssets/lib/select2/css/select2.min.css" rel="stylesheet" />
}
<h1>CHỈNH SỬA BÀI VIẾT</h1>


<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Posts" asp-action="Edit">CHỈNH SỬA BÀI VIẾT</a></li>
        <li class="breadcrumb-item active" aria-current="page">>CHỈNH SỬA BÀI VIẾT</li>
    </ol>
    <h6 class="slim-pagetitle" CHỈNH SỬA BÀI VIẾT></h6>
</div><!-- slim-pageheader -->
<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.PostId" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="PostId" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="Author" />
        <input type="hidden" asp-for="AccountId" />
        <input type="hidden" asp-for="Thumb" />
        <input type="hidden" asp-for="Contents" />
        <input type="hidden" asp-for="Scontents" />
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-12">
                    <div class="form-group ">
                        <label class="form-control-label">Tiêu đề: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="Title">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-12">
                    <div class="form-group ">
                        <label class="form-control-label">Miêu Tả Ngắn <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" maxlength="254" asp-for="Scontents">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Danh mục : <span class="tx-danger">*</span></label>
                        <select class="form-control select2" asp-for="CatId" asp-items="@ViewBag.DanhMuc" required>
                            <option value="0" selected>Danh Mục Gốc</option>
                        </select>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group ">
                        <label class="form-control-label">Ảnh: <span class="tx-danger">*</span></label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-12">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Tag: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="Tags">
                    </div>
                </div><!-- col-4 -->
                <br />
                <div class="col-lg-12">
                    <div class="form-group mg-b-10-force ">
                        <label asp-for="Contents">Nội Dung</label>
                        <textarea id="content" class="form-control" asp-for="Contents"></textarea>
                        <span asp-validation-for="Contents" class="text-danger"></span>
                        <script type="text/javascript">
                            CKEDITOR.replace('content');
                        </script>
                    </div>
                </div><!-- col-4 -->

                <div class="col-lg-4">
                    <div class="form-group mg-b-10-force">
                        <input type="checkbox" asp-for="Published"><span>Pulished</span>
                    </div>
                </div><!-- col-4 -->


            </div>

            <div style="text-align: center !important" class="form-layout-footer">
                <button class="btn btn-primary bd-0">Save</button>
                <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class-"btn btn-success bd-0"> Back to List</a>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->
@section Scripts {

    <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="~/AdminAssets/lib/select2/css/select2.min.css" rel="stylesheet"></script>
    @*<script>
        jQuery(document).ready(function () {
            $('#Contents').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'hl', 'h2', 'h3', 'h4', 'h5'],
                height: 200,  // set editor height
                minHeight: null, // set minimum height of editor
                maxtleight: null, // set maximum height of editor
                focus: true // set focus to editable area after initializing summernote
            });

        });
    </script>*@
}