@model PRN_ProjectBlogs.Models.Account

@{
    ViewData["Title"] = "CHỈNH SỬA TÀI KHOẢN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>CHỈNH SỬA TÀI KHOẢN</h1>

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Accounts" asp-action="Edit">CHỈNH SỬA TÀI KHOẢN</a></li>
        <li class="breadcrumb-item active" aria-current="page">CHỈNH SỬA DANH MỤC</li>
    </ol>
    <h6 class="slim-pagetitle">CHỈNH SỬA TÀI KHOẢN: @Model.FullName</h6>
</div><!-- slim-pageheader -->
<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Accounts" asp-action="Edit" asp-route-id="@Model.AccountId" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="AccountId" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Password" />
        <input type="hidden" asp-for="FullName" />
        <input type="hidden" asp-for="Phone" />
        <input type="hidden" asp-for="Role" />

        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Email: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="Email">
                    </div>
                </div><!-- col-4 -->
                <!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group ">
                        <label class="form-control-label">Password: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="Password">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group ">
                        <label class="form-control-label">Tên: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="FullName">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group ">
                        <label>Trạng Thái:</label>
                        <br\>

                            <input class="checkbox" asp-for="Active"><span>Active</span>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Số điện thoại : <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="Phone">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Role: <span class="tx-danger">*</span></label>
                        <select class="form-control select2" asp-for="RoleId" asp-items="@ViewBag.RoleId" required>
                            <option value="0" selected>Role</option>
                        </select>
                    </div>
                </div><!-- col-4 -->
            </div>

            <div class="form-layout-footer">
                <button class="btn btn-primary bd-0">Save</button>
                <a asp-area="Admin" asp-controller="Accounts" asp-action="Index" class-"btn btn-success bd-0"> Back to List</a>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->
